h1{
  font-size: 45px;
  background: rgb(0, 0, 0);
  background:rgba(0, 0, 0, 0.5);
  color: white;
  text-align:center;  
}
h2 {
  font-size:30px;
  background: rgb(0, 0, 0);
  background:rgba(0, 0, 0, 0.5);
  color: white;
  text-align:center;
}
#workout-log{
  background: rgb(0, 0, 0);
  background:rgba(0, 0, 0, 0.5);
  color: white;
  padding-bottom: 40px;
}
h3{
  font-size:25px;
  padding-left:10px;
}

li{
  font-size:25px;
  padding-left:30px;
}